//- pwainstallhowtos structure
#pwainstall-howto-background
    #pwainstall-howto-android-firefox.howto-frame 
        //- TODO
    #pwainstall-howto-firefox-desktop.howto-frame
        //- TODO
    #pwainstall-howto-ios.howto-frame
        .top-decoration
        .howto-content 
            p=content.howtoIOSLine1  
                svg: use(href="#svg-export-icon")
            p=content.howtoIOSLine2 
                svg: use(href="#svg-add-icon")
            p.hint=content.howtoIOSHint 
        .bottom-decoration
    #pwainstall-howo-samsung.howto-frame 
        .top-decoration
        .howto-content 
            p=content.howtoIOSLine1  
                svg: use(href="#svg-export-icon")
            p=content.howtoIOSLine2 
                svg: use(href="#svg-add-icon")
        .bottom-decoration
    #pwainstall-howto-mac.howto-frame
        //- TODO

//- #pwainstall-debug 
