//- credentialsframe structure
include ../preloadermodule/preloader-mixins.pug

#credentialsframe-hidden-templates
    #invalid-user-error-feedback=content.invalidUserErrorFeedback
    #network-error-feedback=content.networkErrorFeedback 
    #input-error-feedback=content.inputErrorFeedback
    #login-preloader: +preloader("credentialsframe-preloader", "spinner-1")

#credentialsframe-container
    label#login-birhday-label(for="login-birthday-input")=content.loginBirthdayLabel
    input#login-birthday-input(type="date")
    label#login-code-label(for="login-code-input")=content.loginCodeLabel
    input#login-code-input(type="text")
    #user-feedback