//- confirmationpopup structure
include ../preloadermodule/preloader-mixins.pug

#confirmationpopup-hidden-templates
    #invalid-token-error-feedback=content.invalidTokenErrorFeedback
    #expired-token-error-feedback=content.expiredTokenErrorFeedback
    #confirmation-error-feedback=content.confirmationInputErrorFeedback
    #confirmation-preloader: +preloader("confirmationpopup-preloader", "spinner-1")

#confirmationpopup
    #confirmationpopup-content
        #confirmationpopup-header 
            #confirmationpopup-close-button.click-button: svg: use(href="#svg-cross-icon")
        #confirmationpopup-form-container
            label#confirmationpopup-message=content.confirmationpopupMessage
            input#confirmationpopup-birthday-input(type="date")
            #confirmationpopup-user-feedback
            button#confirmationpopup-confirm-button.click-button=content.userconfirmationpopupButtonText